[submodule "presentation/.vscode"]
	path = presentation/.vscode
	url = https://github.com/lamalex/vscode-snippets.git
[submodule "presentation/themes/reveal-hugo"]
	path = presentation/themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
