[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
[submodule ".vscode"]
	path = .vscode
	url = https://github.com/lamalex/vscode-snippets.git
[submodule "content"]
	path = content
	url = https://github.com/lamalex/cs795-content.git
